<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Manager</title>
  <link rel="stylesheet" href="/css/events.css">
  <script src="/scripts/eventScript.js"></script>
</head>

<body>
  <div class="container">
    <div class="event-list">
      <h2>Events</h2>
      <div class="event-grid">
        <% events.forEach(event=> { %>
          <div class="event-card" id="event-<%= event.event_id %>">
            <h3><a href="#" onclick="loadEventDetails('<%= event.event_id %>')">
                <%= event.e_title %>
              </a></h3>
            <p>Created By: <%= event.created_by_name %> - Start Time: <%= event.startTime %>
            </p>
            <!-- <button onclick="confirmDeleteEvent('<%= event.event_id %>')">Delete Event</button> -->
          </div>
          <% }); %>
      </div>
    </div>

    <div id="successMessage" style="display:none; color: green;">Event deleted successfully.</div>

    <div id="event-details" class="transition" style="display:none;">
      <!-- Event Details will be loaded here dynamically -->
    </div>

    <div class="event-form transition" id="event-form" style="opacity: 0; display: none;">
      <h2 id="form-title">Create Event</h2>
      <form id="eventForm" action="/events" method="POST">
        <input type="hidden" id="eventId" name="eventId" value="">

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="e_title" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="e_description"></textarea><br><br>

        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location"><br><br>

        <label for="startTime">Start Time:</label><br>
        <input type="datetime-local" id="startTime" name="startTime" required><br><br>

        <!-- <label for="createdBy">Created By (User ID):</label><br> -->
        <input type="hidden" id="createdBy" name="created_by" required><br><br>

        <button type="submit" id="submitButton">Create Event</button>
        <button type="button" id="updateButton" style="display:none;">Update Event</button>
        <button type="button" id="cancelButton" onclick="cancelForm()">Cancel</button>
      </form>
    </div>

    <div class="create-event">
      <button onclick="showCreateForm()" id="createButtonId">Create Event</button>
    </div>
  </div>
</body>

</html>